.react-header{
    background-color: #0767c8;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    color: white;
    .react-logo{
        margin-right: 34px;
    }
    .header-zone{
        width: 960px;
        margin: 0 auto;
    }
    .search-bar{
        margin-right: 35px;
    }
    .nav{
        display: inline-block;
    }
    .signin{
        float: right;
    }
}
