.login-form {
    background-color: #4190ff;
    display: inline-block;
    padding: 20px;

    span {
        width: 255px;
        height: 50px;
        line-height: 50px;
        display: block;
        margin-bottom: 15px;
        border: 1px solid #1D80CF;
        border-radius: 25px;
        background-color: #fff;
        overflow: hidden;
        cursor: text;

        label {
            display: inline-block;
            vertical-align: middle;
            width: 50px;
            margin-left: 25px;
            color: #999;
            cursor: text;
        }
        input[type=text], input[type=password] {
            border: none;
            background: none;
            outline-style: none;
            -webkit-appearance: none;
        }
    }
    .login-btn {
        text-align: center;
        display: block;
        cursor: pointer;
        background-color: #85beff;
        color: #fff;
    }
    .login-btn:active {
        box-shadow: 5px;
        background-color: #8db8e8;
    }
}
